<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vermicelli Cattery</title>
</head>
<body>
    <div class="footer bg-secondary">
                <div class="row">
                    <div class="col-md-4 pt-5">
                        <h2 class="text-success border-bottom border-secondary pb-3 pl-3">Vermicelli Cattery</h2>
                        <ul class="list-unstyled text-light mt-3 footer-list">
                            <li>
                                <i class="fas fa-map-marker-alt fa-fw"></i>
                                <span>Toà S3 - Goldmark City, 136 Đ. Hồ Tùng Mậu, Mai Dịch, Cầu Giấy, Hà Nội</span>
                            </li>
                            <li>
                                <i class="fa fa-phone fa-fw"></i>
                                <a href="tel:098999616" class="text-light text-decoration-none">098999616</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope fa-fw"></i>
                                <a href="mailto:nga.nguyenthi2303@gmail.com" class="text-light text-decoration-none">nga.nguyenthi2303@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 pt-5 text-light">
                        <h2 class="border-bottom border-secondary pb-3 pl-3">Further Info</h2>
                        <ul class="list-unstyled mt-3 footer-list">
                            <li><a href="#" class="text-decoration-none text-light">Home</a></li>
                            <li><a href="#" class="text-decoration-none text-light">About Us</a></li>
                            <li><a href="#" class="text-decoration-none text-light">FAQs</a></li>
                            <li><a href="#" class="text-decoration-none text-light">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 pt-5 text-light">
                        <h2 class="border-bottom border-secondary pb-3 pl-3">Follow Us</h2>
                        <ul class="list-unstyled mt-3 footer-list">
                            <li class="">
                                <a href="https://www.facebook.com/nga.nguyen2303" class="text-decoration-none text-light d-block">
                                    <i class="fab fa-facebook-f fa-lg fa-fw p-1 border border-secondary rounded-circle"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="text-decoration-none text-light d-block">
                                    <i class="fab fa-instagram fa-lg fa-fw p-1 border border-secondary rounded-circle"></i>
                                    <span>Instagram</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>