<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vermicelli Cattery</title>
</head>

<style>
    .list-menu {
        margin: 0;
        padding: 20px 0;
    }

    .list-menu li {
        list-style: none;
        font-size: 24px;
        margin: 0 40px;
    }

    .list-menu li a {
        font-size: 24px;
    }

    .list-menu li a:hover {
        text-decoration: none;
    }
</style>


<body>
    {{!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg p-3 rounded-0">
        <a href="/" class="navbar-band">
            <img src="/img/logo.png" alt="" style="width:300px;" class="ml-n3  pb-2">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-center align-items-center" id="main_nav">
            <ul class="nav navbar-nav w-50 d-flex justify-content-around m-auto text-center">
                <li class="navbar-item nav-item-text">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="navbar-item nav-item-text">
                    <a href="/shop" class="nav-link">Shop</a>
                </li>
                <li class="navbar-item nav-item-text">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav> --}}

    <div class="header">
        <img src="/img/abc4.jpg" class="img-fluid" alt="Responsive image">
    </div>

    {{!-- <div class="nav d-flex justify-content-center align-items-center bg-dark">
        <a href="/" class="nav-item">
            <img src="/img/logo.png" alt="" style="width:300px;" class="ml-n3  pb-2">
        </a>

        <div class="nav-item ">
            <ul class="list-menu d-flex justify-content-center align-items-center ">
                <li class="btn">
                    <a href="/" class="flex-fill text-light">Home</a>
                </li>
                <li class="btn">
                    <a href="/shop" class="flex-fill text-light">Shop</a>
                </li>
                <li class="btn">
                    <a href="/contact" class="flex-fill text-light">Contact</a>
                </li>
            </ul>
        </div>
    </div> --}}


</body>

</html>