<ul class="nav nav-pills nav-fill justify-content-center bg-secondary">
        <li class="nav-item">
            <a class="nav-header nav-link text-light" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-header nav-link text-light" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-header nav-link text-light" href="/contact">Contact</a>
        </li>
    </ul>

<div class="container my-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7512041656073!2d105.76520141535481!3d21.042638692679326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134554c0f1b6cbb%3A0xf489e6e0c7437fe0!2sS3%20Goldmark%20city!5e0!3m2!1svi!2s!4v1633336767830!5m2!1svi!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>