<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vermicelli Cattery</title>
</head>


<body>

    <ul class="nav nav-pills nav-fill justify-content-center bg-secondary">
        <li class="nav-item">
            <a class="nav-link text-light" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/contact">Contact</a>
        </li>
    </ul>


    <div id="carouselIntro" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselIntro" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIntro" data-slide-to="1"></li>
            <li data-target="#carouselIntro" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-slide img-fluid" alt="First slide" id="slide_1">
                    {{!-- <div class="row p-5 img-slide">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last ">
                            <img class="img-fluid" src="./img/index-1.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"> abcxyz</h1>
                                <p>
                                    abcxyz
                                </p>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-slide" alt="Second slide " id="slide_2">
                    {{!-- <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./img/index-1.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"> abcxyz</h1>
                                <p>
                                    abcxyz
                                </p>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-slide" alt="Third slide" id="slide_3">
                    {{!-- <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./img/index-1.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"> abcxyz</h1>
                                <p>
                                    abcxyz
                                </p>
                            </div>
                        </div>
                    </div> --}}
                </div>

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIntro" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselIntro" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <div class="intro" style="background: #efefef; padding-top: 20px;">
        <div class="container">
            <h1 style="padding-top: 20px;">Giới thiệu</h1>
            <div class="d-flex flex-row">
                <div class="left w-50">
                    <p style="font-weight: 400;">Tại Việt nam, thị trường mua bán mèo cảnh hết sức sôi động. Nếu như
                        trước kia, chỉ có giống mèo
                        ta bản địa được nuôi để bắt chuột là chính. Thì ngày nay, hầu hết các giống mèo cảnh đẹp, quý
                        trên thế giới đều đã được nhân giống và mua bán phổ biến ở nước ta. <strong
                            style="font-weight: 700;">Vermicelli Cattery</strong>
                        chúng tôi cung cấp các giống mèo được nhân giống thuần chủng, đầy đủ giấy tờ nguồn gốc</p>
                    <p class="mt-5" style="font-weight: 400;">
                        Chúng tôi cam kết tất cả mèo cung cấp trên trang đều được nhân giống thuần chủng, có đầy đủ giấy
                        tờ, được tiêm phòng đầy đủ,
                        tư vấn chăm sóc trọn đời.
                        Từ đó mang lại những bé mèo tốt nhất đến cho người mua.
                    </p>
                </div>
                <div class="intro-right w-50">
                </div>
            </div>
        </div>
    </div>

</body>

</html>